/* adding a comment */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    
    /* construction/Text */
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    /* or 180% */
    
    letter-spacing: 0.04em;
    
    /* construction/gray */
    
    color: #666666;
}

/* top menu navigation */

.nav-container {
    background-color: #F5F5F5;
    height: 72px;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

}

nav ul {
    display: flex;
}

.logo {
    display: flex;
}

.nav-bar {
    display: flex;
    padding: 20px 0px 20px 440px;
}
.nav-bar li {
    /* Frame 2 */
    /* Auto layout */
    
    list-style: none;
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    
    width: 100px;
    height: 24px;
}

.nav-bar li a {
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    
    text-decoration: none;    
}

.instagram {
    padding: 7px 20px 20px 0px;
}

.main-left {
    width: 1048px;
    height: 491px;
    left: 0px;
    top: 83px;
    background-image: url('images/background.png'); 
    background-image: -webkit-linear-gradient(0deg, rgba(31, 31, 31, 0.85) 0, rgba(0,0,0,0.9) 100%), url('images/background.png');
    background-image: -moz-linear-gradient(90deg, rgba(31, 31, 31, 0.85) 0, rgba(0,0,0,0.9) 100%), url('images/background.png');
    background-image: linear-gradient(90deg, rgba(31, 31, 31, 0.85) 0, rgba(0,0,0,0.9) 100%), url('images/background.png');
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    padding: 100px 100px 100px 100px;
}

.main-left-box {
    /* Vector 22 */

width: 104px;
height: 0px;

/* construction/yellow */

border: 5px solid #FFB400;
transform: rotate(-90deg);
}

.main-left-title h1 {
    width: 600px;
    height: 100px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
    color: white;
    padding: 2px 10px 100px 40px;
    margin: -4% 5% 5% 5%;
}

.main-left p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #FFFFFF;
    text-align: justify;
    margin: 0px 0px 20px 50px;
}

.main-left button {
    background: #FFB400;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 230px;
    height: 55px;
    margin: 20px 0px 20px 50px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: 0;
}
.main-right {
    max-width: 408px;
    height: 491px;
    left: 0px;
    top: 83px;
    background-color: #FFB400;
}

.main-right-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 50px;
    color: #2A2A2A;
    padding: 30px 0px 11px 30px;
}

.container-right {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 31px 30px 36px;
    text-align: justify;

}

.container-image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 54px;
    height: 58px;
}

.container-text {
    grid-column: 2;
    grid-row: 1 / 2;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    color: #2A2A2A;
    margin: 0;
    padding: 0;
    border: 0;
        
}

.container-textb {
    grid-column: 2;
    grid-row: 2 / 3;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: justify;
}